<!DOCTYPE html>
<html>
  <head>
    <title><%= GraphiQL::Rails.config.title || 'GraphiQL' %></title>
    <%= raw stylesheet_link_tag("graphiql/rails/application").gsub('3035', '3000') %>
    <%= raw javascript_include_tag("graphiql/rails/application", nonce: true).gsub('3035', '3000')  %>
  </head>
  <body>
    <%= content_tag :div, 'Loading...', id: 'graphiql-container', data: {
      graphql_endpoint_path: graphql_endpoint_path,
      initial_query: GraphiQL::Rails.config.initial_query,
      logo: GraphiQL::Rails.config.logo,
      headers: GraphiQL::Rails.config.resolve_headers(self),
      query_params: GraphiQL::Rails.config.query_params,
      header_editor_enabled: GraphiQL::Rails.config.header_editor_enabled
    } %>
  </body>
</html>
